<div id="menu" [ngClass]="{ container: pageWidth > 768 }">
  <div class="d-flex justify-content-between align-items-center">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <a class="navbar-brand" routerLink="/">
        <img class="logo" src="/assets/img/logo.svg">
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="">{{ 'HOME' | t }}</a>
          </li>
          <li class="nav-item" *ngFor="let link of activeMenuLinks">
            <a class="nav-link" [routerLink]="'/' + link">{{ link | uppercase | t }}</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="hidden-sm-down header-actions" *ngIf="pageWidth > 768">
      <mat-form-field class="select-container mr-3 ml-3">
        <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
        <mat-select (selectionChange)="changeLang()" [(ngModel)]="lang">
          <mat-option value="he">
            <img src="/assets/img/flags/he.png">
            <span>עברית</span>
          </mat-option>
          <mat-option value="en">
            <img src="/assets/img/flags/en.png">
            <span>English</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <span class="mx-2" *ngIf="!user">
        <i class="fa fa-user ml-1 link"></i>
        <a routerLink="/login" class="black">{{ 'SIGN_IN' | t }} /</a>
        <a routerLink="/register" class="black">{{ 'REGISTER' | t }}</a>
      </span>
      <button class="mx-3 chip-button chip-blue toggle-effect hidden-sm-down" [routerLink]="['/jobs', 'form']">{{ 'POST_JOB' | t }}</button>
      <ng-container *ngIf="user">
        <span class="pointer" [matMenuTriggerFor]="userMenu">
          <span>{{ 'MY_ACCOUNT' | t }}</span>
          <i class="fa fa-chevron-down ml-1"></i>
        </span>
        <mat-menu #userMenu="matMenu">
          <a mat-menu-item routerLink="/profile">{{ 'MY_PROFILE' | t }}</a>
          <a mat-menu-item routerLink="/settings">{{ 'SETTINGS' | t }}</a>
          <a mat-menu-item>{{ 'SUBSCRIPTION' | t }}</a>
          <a mat-menu-item>{{ 'HELP' | t }}</a>
          <a mat-menu-item (click)="logout()">{{ 'LOGOUT' | t }}</a>
        </mat-menu>
      </ng-container>
    </div>
    <div class="hidden-md-up">
      <button class="ml-3 chip-button chip-blue toggle-effect" [routerLink]="['/jobs', 'form']">{{ 'POST_JOB' | t }}</button>
      <button *ngIf="user" class="navbar-toggler navbar-toggler-right ml-2" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" [attr.aria-label]="'TOGGLE' | t">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </div>
  <div class="hidden-md-up header-actions" *ngIf="pageWidth <= 768">
    <mat-form-field class="select-container mr-3 ml-3">
      <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
      <mat-select (selectionChange)="changeLang()" [(ngModel)]="lang">
        <mat-option value="he">
          <img src="/assets/img/flags/he.png">
          <span>עברית</span>
        </mat-option>
        <mat-option value="en">
          <img src="/assets/img/flags/en.png">
          <span>English</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="mx-2" *ngIf="!user">
        <i class="fa fa-user ml-1 link"></i>
        <a routerLink="/login" class="black">{{ 'SIGN_IN' | t }} /</a>
        <a routerLink="/register" class="black">{{ 'REGISTER' | t }}</a>
      </span>
    <button class="ml-3 chip-blue toggle-effect hidden-sm-down" [routerLink]="['/jobs', 'form']">{{ 'POST_JOB' | t }}</button>
  </div>
</div>
<div id="pageTitle">
  <h1 id="pageTitleHeading" *ngIf="pageTitle !== 'home'">{{ pageTitle | uppercase | t }}</h1>
  <div id="pageTitleContent" *ngIf="pageTitle === 'home'">
    <h1 class="mb-3">{{ 'EASIEST_WAY_S' | t }}</h1>
    <h2 class="mb-5">{{ 'WE_OFFER' | t }} 12000 {{ 'JOBS_VACATION_S' | t }}</h2>
    <div id="mainSearchContainer">
      <div class="main-search-container-input">
        <i class="fa fa-search"></i>
        <input [placeholder]="'JOB_KEYWORD' | t">
      </div>
      <div class="main-search-container-input d-flex align-items-center">
        <i class="fa fa-globe"></i>
        <mat-select [placeholder]="'LOCATION' | t">
          <mat-option>a</mat-option>
          <mat-option>b</mat-option>
          <mat-option>c</mat-option>
        </mat-select>
      </div>
      <button type="submit">{{ 'SEARCH' | t }}</button>
    </div>
  </div>
</div>
