<footer>
  <div id="topFooter" class="container">
    <div class="row justify-content-center">
      <ul class="col-12 col-sm-6 col-md text-center mb-5 mb-md-0" *ngFor="let i of [1,2,3,4]">
        <li class="h4 mb-4">{{ 'LOREM_IPSUM' | t }}</li>
        <li class="mb-2">
          <a>{{ 'LOREM_IPSUM' | t }}</a>
        </li>
        <li class="mb-2">
          <a>{{ 'LOREM_IPSUM' | t }}</a>
        </li>
        <li class="mb-2">
          <a>{{ 'LOREM_IPSUM' | t }}</a>
        </li>
        <li>
          <a>{{ 'LOREM_IPSUM' | t }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="bottomFooter">
    <div class="container text-center text-md-left">Copyright © 2017 Seeker.com. All rights reserved.</div>
  </div>
</footer>
