<div class="section-padding">
  <div class="form-container">
    <div class="d-flex tab-menu">
      <div class="w-50 tab" [ngClass]="{ active: activeTab === 'seeker' }" (click)="activeTab = 'seeker'">{{ 'JOB_SEEKER' | t }}</div>
      <div class="w-50 tab" [ngClass]="{ active: activeTab === 'employer' }" (click)="activeTab = 'employer'">{{ 'EMPLOYER' | t }}</div>
    </div>
    <form #f="ngForm" (ngSubmit)="submit(f.valid)">
      <div class="tab-content" *ngIf="activeTab === 'seeker'">
        <div class="form-group">
          <input type="text" name="firstName" class="form-control py-2 rounded-border"
                 [placeholder]="'FIRST_NAME' | t" [(ngModel)]="seeker.firstName" #firstName="ngModel" required>
          <p class="alert alert-danger" *ngIf="firstName.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="text" name="lastName" class="form-control py-2 rounded-border"
                 [placeholder]="'LAST_NAME' | t" [(ngModel)]="seeker.lastName" #lastName="ngModel" required>
          <p class="alert alert-danger" *ngIf="lastName.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="text" name="username" class="form-control py-2 rounded-border"
                 [placeholder]="'USERNAME' | t" [(ngModel)]="seeker.user.username"
                 #username="ngModel" required>
          <p class="alert alert-danger" *ngIf="username.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="text" name="email" class="form-control py-2 rounded-border"
           [placeholder]="'EMAIL' | t" [(ngModel)]="seeker.user.email"
           #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <ng-container *ngIf="email.errors && f.submitted">
            <p class="alert alert-danger" *ngIf="email.errors.required">{{ 'REQUIRED_FIELD' | t }}.</p>
            <p class="alert alert-danger" *ngIf="email.errors.email">{{ 'INVALID_EMAIL' | t }}.</p>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control py-2 rounded-border"
           [placeholder]="'PASSWORD' | t" [(ngModel)]="seeker.user.password" #password="ngModel" required>
          <p class="alert alert-danger" *ngIf="password.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}</p>
        </div>
        <div class="form-group">
          <input type="password" name="repeatPassword" class="form-control py-2 rounded-border"
           [placeholder]="'REPEAT_PASSWORD' | t" [(ngModel)]="repeatPassword" #repeatPasswordInput="ngModel" required>
          <p class="alert alert-danger" *ngIf="repeatPasswordInput.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <select class="form-control rounded-border" name="gender" [(ngModel)]="seeker.gender">
            <option disabled [value]="undefined">{{ 'SELECT_GENDER' | t }}</option>
            <option value="male">{{ 'MALE' | t }}</option>
            <option value="female">{{ 'FEMALE' | t }}</option>
          </select>
        </div>
      </div>
      <div class="tab-content" *ngIf="activeTab === 'employer'">
        <div class="form-group">
          <input type="text" name="companyName" class="form-control py-2 rounded-border"
           [placeholder]="'COMPANY_NAME' | t" [(ngModel)]="employer.name" #companyName="ngModel" required>
          <p class="alert alert-danger" *ngIf="companyName.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="text" name="username" class="form-control py-2 rounded-border"
           [placeholder]="'USERNAME' | t" [(ngModel)]="employer.user.username" #username="ngModel" required>
          <p class="alert alert-danger" *ngIf="username.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="text" name="email" class="form-control py-2 rounded-border"
           [placeholder]="'EMAIL' | t" [(ngModel)]="employer.user.email"
           #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
          <ng-container *ngIf="email.errors && f.submitted">
            <p class="alert alert-danger" *ngIf="email.errors.required">{{ 'REQUIRED_FIELD' | t }}.</p>
            <p class="alert alert-danger" *ngIf="email.errors.email">{{ 'INVALID_EMAIL' | t }}.</p>
          </ng-container>
        </div>
        <div class="form-group">
          <input type="password" name="password" class="form-control py=2 rounded-border"
            [placeholder]="'PASSWORD' | t" [(ngModel)]="employer.user.password" #password="ngModel" required>
          <p class="alert alert-danger" *ngIf="password.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
        <div class="form-group">
          <input type="password" name="repeatPassword" class="form-control py-2 rounded-border"
           [placeholder]="'REPEAT_PASSWORD' | t" [(ngModel)]="repeatPassword" #repeatPasswordInput="ngModel" required>
          <p class="alert alert-danger" *ngIf="repeatPasswordInput.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}.</p>
        </div>
      </div>
      <mat-spinner class="mx-auto mb-3" *ngIf="isSubmitting"></mat-spinner>
      <p class="alert alert-danger" *ngIf="isLoginFailed">
        <i class="fa fa-exclamation-circle p-icon"></i>
        <span>{{ 'LOGIN_ERROR' | t }}.</span>
      </p>
      <div class="text-center">
        <button type="submit" class="w-100 mb-3 text-uppercase chip-button chip-blue toggle-effect">{{ 'REGISTER' | t }}</button>
        <span class="grey">{{ 'ALREADY_REGISTERED' | t }}</span>
        <a class="grey-link" routerLink="/login">{{ 'MAKE_LOGIN' | t }}</a>
      </div>
    </form>
  </div>
</div>
