<div class="row no-gutters">
  <form class="col-md-4 offset-md-4 card" #f="ngForm" (ngSubmit)="submit(f.valid)">
    <div class="card-header">
      <p class="card-title">התחברות</p>
    </div>
    <div class="card-block">
      <mat-form-field class="w-100">
        <input matInput type="text" name="username" placeholder="Username" [(ngModel)]="user.username" #username="ngModel" required>
        <i matSuffix class="fa fa-user"></i>
        <mat-error *ngIf="username.errors && f.submitted">This field is required.</mat-error>
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput type="password" name="password" placeholder="Password" [(ngModel)]="user.password" #password="ngModel" required>
        <i matSuffix class="fa fa-lock"></i>
        <mat-error *ngIf="password.errors && password.errors.required && f.submitted">This field is required.</mat-error>
        <mat-error *ngIf="password.errors && password.errors.minlength && f.submitted">This field is required.</mat-error>
      </mat-form-field>
      <a class="d-block mb-3" routerLink="/forgot">Forgot Password</a>
      <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" color="primary">Remember Me</mat-checkbox>
    </div>
    <div class="card-footer">
      <mat-spinner class="m-auto" *ngIf="isLoggingIn"></mat-spinner>
      <p class="alert alert-danger" *ngIf="isLoginFailed">
        <i class="fa fa-exclamation-circle mr-1"></i>
        <span>Login error, please try again or contact.</span>
      </p>
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
