<div class="container py-3 data-table">
  <div class="d-flex justify-content-end mb-5 mt-3">
    <select (change)="fetchItems()" [(ngModel)]="selectedJobID" class="search-container">
      <option disabled [value]="null">{{ 'SELECT_JOB' | t }}</option>
      <option *ngFor="let job of employerActiveJobs" [value]="job.id">{{ job.title }}</option>
    </select>
  </div>
  <div class="row no-gutters mb-3">
    <div class="col-12 col-sm-6 col-md" (click)="setTab(tab)" *ngFor="let tab of tabs">
      <div class="tab" [ngClass]="{ 'active': activeTab === tab }">{{ tab.label | t }}</div>
    </div>
  </div>
  <p class="alert alert-success saved-message" *ngIf="savedItem">
    <i class="fa fa-check"></i>
    <span>{{ savedItem + ' ' + ('WAS_SAVED_SUCCESSFULLY' | t) }}.</span>
  </p>
  <div class="mb-2 input-container search-container">
    <input type="search" [(ngModel)]="searchCriteria['q']" class="input-group-lg" (keyup)="search($event.keyCode)" [placeholder]="'SEARCH' | t">
    <i class="fa fa-search" (click)="search()"></i>
  </div>
  <div class="mb-4">
    <table class="table table-striped">
      <thead>
      <tr>
        <th></th>
        <th *ngFor="let header of headers" (click)="sort(header.column)">
          <span>{{ header.label | t }}</span>
          <i [class]="getHeaderIconClass()" *ngIf="orderCriteria.orderBy === header.column"></i>
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngIf="!isSearching">
        <tr *ngFor="let item of paginatedItems">
          <td>
            <star-rating-comp [starType]="'svg'" [staticColor]="'ok'" [numOfStars]="1" (onRatingChange)="setEmployerLike()"></star-rating-comp>
          </td>
          <td>
            <a [routerLink]="'./' + item.seeker.id">{{ item.seeker.firstName + ' ' + item.seeker.lastName }}</a>
          </td>
          <td>{{ item.job.title }}</td>
          <td>{{ item.seeker.phone }}</td>
          <td>{{ item.seeker.email }}</td>
          <td>{{ item.interview ? item.interview.date : '' }}</td>
          <td>{{ item.status }}</td>
          <td>
            <img src="/assets/img/icons/calendar-page-empty.svg" (click)="setInterview(item.seeker, item.job)" class="row-icon">
          </td>
        </tr>
      </ng-container>
      <tr *ngIf="isSearching">
        <td colspan="8">
          <mat-spinner class="mx-auto"></mat-spinner>
        </td>
      </tr>
      <tr *ngIf="!isSearching && items.length === 0">
        <td colspan="8">{{ 'CANDIDATE_TABLE_EMPTY' | t }}.</td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination [data]="paginationData" *ngIf="items.length > 0"></app-pagination>
</div>

