<div class="wrapper">
  <header>
    <div id="topHeader" class="d-flex justify-content-between align-items-center">
      <div id="profile" class="relative mr-5">
        <span id="unreadMessagesCount">14</span>
        <i class="fa fa-user"></i>
      </div>
      <div>
        <mat-form-field class="select-container">
          <mat-select placeholder="בחר מעסיק"></mat-select>
        </mat-form-field>
        <mat-form-field class="select-container mr-3 ml-3">
          <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
          <mat-select (selectionChange)="changeLocale()" [(ngModel)]="lang">
            <mat-option value="he">
              <span>עברית</span>
              <img src="/assets/img/flags/he.png">
            </mat-option>
            <mat-option value="en">
              <span>English</span>
              <img src="/assets/img/flags/en.png">
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span>
      <span>יציאה</span>
      <i class="fa fa-sign-out"></i>
    </span>
      </div>
    </div>
    <div id="menu">
      <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let link of menuLinks">
              <a class="nav-link" [routerLink]="'/employer/' + link.url" routerLinkActive="active">{{ link.label }}</a>
            </li>
          </ul>
        </div>
        <a class="navbar-brand" routerLink="/employer/dashboard">לוגו של ג'ובי</a>
      </nav>
    </div>
    <ul class="breadcrumb" *ngIf="breadcrumbs">
      <li class="breadcrumb-item" *ngFor="let breadcrumb of breadcrumbs">
        <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
      </li>
    </ul>
  </header>
  <div id="content">
    <router-outlet></router-outlet>
  </div>

</div>
