<p class="mat-title">{{ t('CHANGE_PASSWORD') }}</p>
<form #f="ngForm" (ngSubmit)="submit(f.valid)">
  <div class="form-group">
    <label class="grey bold">{{ 'NEW_PASSWORD' | t }}</label>
    <input type="password" class="form-control" name="password">
  </div>
  <div class="form-group">
    <label class="grey bold">{{ 'REPEAT_PASSWORD' | t }}</label>
    <input type="password" class="form-control" name="repeatPassword">
  </div>
  <button type="submit" class="mt-2 chip-button chip-default fade-effect">{{ 'SAVE' | t }}</button>
</form>
