section {
  padding: 60px 0;
}

.category {
  padding: 40px 0;
  border-left: 1px solid #e6e3e6;
  border-bottom: 1px solid #e6e3e6;
  background-color: #fff;
  cursor: pointer;
}

.category img {
  filter: grayscale(1);
  transition: 0.5s;
}

.category:hover img {
  filter: grayscale(0);
}

.category-count {
  color: #b5b5b5;
}

#addResumeBanner {
  display: flex;
  align-items: center;
  padding: 40px;
  background: url('/assets/img/home/resume-banner.jpg') no-repeat #fff;
  background-size: contain;
}

#addResumeBanner > .h4 {
  margin: 0 150px;
}

#addResumeBanner .mat-chip {
  font-size: 14px;
}

#highlightJobs ::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

#highlightJobs ::ng-deep .mat-chip {
  padding: 4px 20px;
  font-size: 16px;
}

#steps {
  position: relative;
  margin-top: 80px;
  padding: 80px 0;
  background-image: url('/assets/img/home/home-steps.jpg');
  z-index: 1;
}

#steps:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(44, 55, 62, 0.8);
  z-index: -1;
}

#steps p {
  color: #fff;
}

#steps .step-number {
  color: #00aeef;
  font-size: 20px;
}

#steps .step-title {
  font-size: 18px;
  text-transform: uppercase;
}

#counters .counter {
  padding: 50px;
  text-align: center;
  background-color: #fff;
}

#counters .counter-description {
  font-size: 14px;
  color: #a0a0a0;
}

#homeApps {
  position: relative;
  padding: 80px 0;
  background-image: url('/assets/img/home/home-apps.jpg');
  z-index: 1;
}

#homeApps:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 141, 239, 0.8);
  z-index: -1;
}

#homeApps .section-title {
  color: #fff;
}

#homeApps #appsRow {
  width: 90%;
  margin: 0 auto;
}

#homeApps .app-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  cursor: pointer;
}

#homeApps .app-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
