<div class="container data-form">
  <!--<div class="d-flex justify-content-between align-items-end py-3 border-bottom-grey">-->
    <!--<div>-->
      <!--<span class="pointer" [matMenuTriggerFor]="profileMenu">-->
        <!--<span>{{ 'OPTIONS') }}</span>-->
        <!--<i class="fa fa-chevron-down ml-1"></i>-->
      <!--</span>-->
      <!--<mat-menu #profileMenu="matMenu">-->
        <!--<a mat-menu-item (click)="openPasswordModal()">{{ 'CHANGE_PASSWORD') }}</a>-->
        <!--<a mat-menu-item>{{ 'DELETE_USER') }}</a>-->
      <!--</mat-menu>-->
    <!--</div>-->
  <!--</div>-->
  <a routerLink=".." class="d-block mb-2">
    <i class="fa fa-chevron-right p-icon"></i>
    <span>{{ 'BACK_TO_USERS' | t }}</span>
  </a>
  <div class="card">
    <div class="card-header">
      <div class="card-title">{{ 'NEW_USER' | t }}</div>
    </div>
    <form #f="ngForm" (ngSubmit)="submit(f.valid)" class="card-block">
      <div class="row">
        <div class="col-12 col-sm">
          <div class="form-group">
            <label for="nameInput">{{ 'USERNAME' | t }}*</label>
            <input id="nameInput" type="text" class="form-control" name="name"
                   #name="ngModel" [(ngModel)]="user.name" [placeholder]="'WRITE_USER_NAME' | t" required>
            <p class="alert alert-danger" *ngIf="name.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}</p>
          </div>
          <div class="form-group">
            <label for="businessNumberInput">{{ 'BUSINESS_NUMBER' | t }}*</label>
            <input id="businessNumberInput" type="text" class="form-control" name="name"
             #businessNumber="ngModel" [(ngModel)]="user.businessNumber" [placeholder]="'WRITE_USER_NAME' | t" required>
            <p class="alert alert-danger" *ngIf="businessNumber.errors && f.submitted">{{ 'REQUIRED_FIELD' | t }}</p>
          </div>
        </div>
        <div class="col-12 col-sm d-flex justify-content-end align-items-center">
          <div class="upload-logo">
            <img [src]="logoPreview ? (logoPreview | safeUrl) : '/assets/img/user-placeholder.svg'" class="upload-logo-image">
            <label>
              <img src="/assets/img/icons/upload-white.svg" class="upload-logo-icon">
              <input type="file" (change)="uploadLogo($event.target.files[0])" #fileInput>
            </label>
            <img src="/assets/img/icons/trash-bin-white.svg" class="upload-logo-icon delete-logo" *ngIf="logoPreview" (click)="resetLogo(fileInput)">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm form-group">
          <label for="emailInput">{{ 'EMAIL' | t }}</label>
          <input id="emailInput" type="email" class="form-control" name="email" #email="ngModel"
                 [(ngModel)]="user.email" [placeholder]="'WRITE_EMAIL' | t" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          <p class="alert alert-danger" *ngIf="email.errors && f.submitted">{{ 'INVALID_EMAIL' | t }}</p>
        </div>
        <div class="col-12 col-sm form-group">
          <label for="phoneInput">{{ 'PHONE' | t }}</label>
          <input id="phoneInput" type="text" class="form-control" name="phone" [(ngModel)]="user.address" [placeholder]="'WRITE_PHONE' | t">
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm form-group">
          <label for="addressInput">{{ 'ADDRESS' | t }}</label>
          <input id="addressInput" type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="user.address"
           [placeholder]="'WRITE_ADDRESS' | t">
        </div>
        <div class="col-12 col-sm form-group">
          <label for="websiteInput">{{ 'WEBSITE_ADDRESS' | t }}</label>
          <input id="websiteInput" type="url" class="form-control ltr" name="website" [(ngModel)]="user.website" placeholder="http://">
        </div>
      </div>
      <div class="form-group">
        <label for="description">{{ 'ABOUT_THE_COMPANY' | t }}</label>
        <textarea id="description" class="form-control w-100"></textarea>
      </div>
      <div class="card-footer">
        <button type="submit" class="card-primary chip-button chip-blue">{{ 'SAVE' | t }}</button>
      </div>
    </form>
  </div>
</div>
