<div class="section-padding">
  <form class="form-container" #f="ngForm" (ngSubmit)="submit(f.valid)">
      <div id="usernameInputContainer" class="form-group">
        <input
          type="text"
          name="username"
          class="form-control pt-2 pb-2 rounded-border"
          [placeholder]="(username.errors && f.submitted) ? ('REQUIRED' | t) : ('USERNAME' | t)"
          [(ngModel)]="user.username"
          #username="ngModel"
          required>
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          class="form-control rounded-border"
          [placeholder]="(password.errors && f.submitted) ? ('REQUIRED' | t) : ('PASS' | t)"
          [(ngModel)]="user.password"
          #password="ngModel"
          required>
      </div>
      <div class="d-flex align-items-center justify-content-between my-4">
        <mat-checkbox [(ngModel)]="rememberMe" name="rememberMe" color="primary" class="grey-link">{{ 'REMEMBER_ME' | t }}</mat-checkbox>
        <a class="grey-link" routerLink="/forgot">{{ 'FORGOT_PASS' | t }}</a>
      </div>
      <mat-spinner class="mx-auto mb-3" *ngIf="isLoggingIn"></mat-spinner>
      <p class="alert alert-danger" *ngIf="isLoginFailed">
        <i class="fa fa-exclamation-circle p-icon"></i>
        <span>{{ 'LOGIN_ERROR' | t }}.</span>
      </p>
      <div class="text-center">
        <button type="submit" class="w-100 mb-3 text-uppercase chip-button chip-blue toggle-effect">{{ 'LOGIN' | t }}</button>
        <a class="grey-link" routerLink="/register">{{ 'CREATE_ACC' | t }}</a>
      </div>
  </form>
</div>

