<div class="container">
  <a routerLink=".." class="d-block mb-3">
    <i class="fa fa-chevron-right p-icon"></i>
    <span>{{ 'BACK_TO_CANDIDATES' | t }}</span>
  </a>
  <div class="box-shadow text-center text-md-left p-3">
    <div class="row">
      <div class="col-md-9">
        <p class="h5 mb-5 bold">יוסי לוי</p>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'FULL_NAME' | t }}:</span>
            <span>יוסי לוי</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'STATUS' | t }}:</span>
            <span>רווק</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'CANDIDATE_FOR' | t }}:</span>
            <span>מנהל\ת תיק לקוחות</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'CITY_OF_RESIDENCE' | t }}:</span>
            <span>תל אביב</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'IDENTITY_NUMBER' | t }}:</span>
            <span>314859847</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'AVAILABILITY' | t }}:</span>
            <span>מיידית</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'BIRTH_DATE' | t }}:</span>
            <span>21/03/1987</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'CITY_OF_RESIDENCE' | t }}:</span>
            <span>טרם נקבע</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'GENDER' | t }}:</span>
            <span>זכר</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'PROFESSIONAL_EXPRIENCE' | t }}:</span>
            <span>מנהל צוות מכירות בחברת סלולר</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md">
            <span class="bold">{{ 'PHONE' | t }}:</span>
            <span>054-4584597</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'EDUCATION' | t }}:</span>
            <span>תואר ראשון במנהל עסקים</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <span class="bold">{{ 'EMAIL' | t }}:</span>
            <span>yossi23@gmail.com</span>
          </div>
          <div class="col-md">
            <span class="bold">{{ 'MILITARY_SERVICE' | t }}:</span>
            <span>לא צוין</span>
          </div>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <img src="/assets/img/icons/user.svg" class="w-50 mt-3 mb-5 mx-auto">
        <div class="d-flex mb-3">
          <div class="w-50 pointer">
            <img src="/assets/img/icons/calendar-page-empty.svg" class="icon">
            <p class="grey">{{ 'SET_INTERVIEW' | t }}</p>
          </div>
          <div class="w-50 pointer">
            <img src="/assets/img/icons/dark-eye.svg" class="icon">
            <p class="grey">{{ 'WATCH_CV' | t }}</p>
          </div>
        </div>
        <div class="d-flex">
          <div class="w-50 pointer">
            <img src="/assets/img/icons/download.svg" class="icon">
            <p class="grey">{{ 'DOWNLOAD_CV' | t }}</p>
          </div>
          <div class="w-50 pointer">
            <img src="/assets/img/icons/chat.svg" class="icon">
            <p class="grey">{{ 'CHAT' | t }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
