<header class="d-flex justify-content-between">
  <img src="http://via.placeholder.com/150x100" class="mr-5">
  <mat-form-field class="ml-5">
    <img matPrefix [src]="'/assets/img/flags/' + lang + '.png'">
    <mat-select (selectionChange)="changeLocale()" [(ngModel)]="lang">
      <mat-option value="he">
        <span>עברית</span>
        <img src="/assets/img/flags/he.png">
      </mat-option>
      <mat-option value="en">
        <span>English</span>
        <img src="/assets/img/flags/en.png">
      </mat-option>
    </mat-select>
  </mat-form-field>
</header>
<div class="content container-fluid">
  <router-outlet></router-outlet>
</div>
<footer></footer>
